@font-face {
  font-family: 'Bungee Inline';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bungee Inline'), local('BungeeInline-Regular'), url(https://fonts.gstatic.com/s/bungeeinline/v5/Gg8zN58UcgnlCweMrih332VuPGV__A.ttf) format('truetype');
}
@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bungee Shade'), local('BungeeShade-Regular'), url(https://fonts.gstatic.com/s/bungeeshade/v5/DtVkJxarWL0t2KdzK3oI_jkc6SjW.ttf) format('truetype');
}
body {
  background: #000000;
  margin: 0;
  padding: 0;
  font-family: 'kanit', sans-serif;
}
header {
  float: left;
  width: 70%;
  padding: 10px;
  font-size: 0.8em;
}
header h1 {
  color: #FFFFFF;
}
header h1 span {
  color: rgba(255, 0, 0);
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;
}
nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
}
nav ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: none;
}
nav ul li {
  list-style: none;
  display: block;
  text-align: center;
  padding: 15px;
}
nav ul li:hover {
  background: rgba(255, 0, 0);
}
nav ul li .current {
  background: linear-gradient(transparent 60%, #E03634 40%);
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav .toggle {
  width: 100%;
  padding: 10px 20px;
  background: #000000;
  text-align: right;
  box-sizing: border-box;
  color: rgba(255, 0, 0);
  font-size: 30px;
  display: block;
}
nav .active {
  display: block;
}
#imageGallery {
  height: 350px;
  background: #FFFFFF;
  border-bottom: 2px solid rgba(255, 0, 0);
}
#imageGallery h3 {
  color: #000000;
}
#section1 {
  color: #FFFFFF;
  line-height: 1.5em;
  height: 250px;
  background: #252525;
  border-bottom: 2px solid rgba(255, 0, 0);
}
#section1 h3 {
  font-family: 'Bungee Inline', cursive;
}
#section1 p {
  font-family: 'Heebo', sans-serif;
  overflow: hidden;
}
#section2 {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  height: 200px;
  background: #414141;
  border-bottom: 2px solid rgba(255, 0, 0);
}
#section2 p {
  font-family: 'Bungee Inline', cursive;
  color: #FFFFFF;
}
#section3 {
  margin-left: 0;
  margin-top: 0;
  height: 200px;
  background: #414141;
}
footer {
  max-height: 100px;
}
footer p {
  color: #FFFFFF;
  font-family: "Arial", sans-serif;
  font-size: 0.8em;
  text-align: center;
}
footer a {
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  #section2 {
    border-right: 2px solid rgba(255, 0, 0);
    border-bottom: none;
    margin-right: 2px;
  }
  #section3 {
    width: 49%;
    margin-right: 0;
    padding-left: 2px;
  }
}
@media screen and (min-width: 1025px) {
  header {
    width: 30%;
  }
  nav {
    font-size: 0.8em;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  nav .toggle {
    display: none;
  }
  nav ul {
    text-align: right;
    width: 60%;
    display: block;
  }
  nav ul li {
    display: inline-block;
  }
  #section2 {
    width: 29.5%;
  }
  #section3 {
    width: 69.5%;
  }
}
/*# sourceMappingURL=style.css.map */